.photo {
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 1.4%;
  object-fit: cover;
}
.follow {
  position: absolute;
  top: 41%;
  left: 38%;
}

.stat-icons {
  font-size: xx-large;
}
.icon-name {
  font-size: xx-small;
}
.feed-date {
  font-size: 10px;
}

.curser {
  cursor: pointer;
}
.follow-token-num {
  font-size: 12px !important;
}
.follow-list-bg {
  background-color: transparent !important;
}
