@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

.card-container,
.front,
.back {
  width: 17rem;
  height: 20rem;
}
/* .card-container {
  margin: 5rem;
} */
.front,
.back {
  box-sizing: border-box;
  /* padding: 2rem; */
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);

  font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
/* front side bg is green gradient */
.front {
  background-image: linear-gradient(to right bottom, #93ac9d, #dbe9e1);
}
/* back side bg is orange gradient */
.back {
  background-image: linear-gradient(to right bottom, #93ac9d, #dbe9e1);
}

.card-container {
  position: relative;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}
.holder {
  opacity: 1;
}
.blog-title {
  color: white;
  text-decoration-line: underline;
  margin: 0;
  position: absolute;
  top: 51px;
  width: 100%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}
.blog-category {
  color: white;
  text-decoration-line: underline;
  margin: 0;
  position: absolute;
  top: 11px;
  width: 35%;
  left: 82%;
  font-size: 10px !important;
  transform: translate(-50%, -50%);
}
.blog-words {
  font-size: 15px;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-author {
  font-size: 13px;
}
.back {
  transform: rotateY(180deg);
}
.card-container:hover .front {
  transform: rotateY(-180deg);
}
.card-container:hover .back {
  transform: rotateY(0deg);
}

.card-container {
  perspective: 75rem;
}
.title {
  text-decoration: none;
}
/* ----------------------blog content-------------------- */
.content-title {
  font-family: "Source Code Pro", monospace;
}
