.App {
  text-align: center;
}
body {
  background: rgb(198, 128, 119);
  background: linear-gradient(
    156deg,
    rgba(198, 128, 119, 0.9471988624551383) 0%,
    rgba(237, 235, 255, 0.9359943806624212) 0%,
    rgba(241, 221, 228, 0.8603641285615808) 10%
  );
}
